@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }



}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

input[type='range'] {
  accent-color: theme('colors.dark.accent');
}

.icon-transition {
  transition: fill 0.3s ease-in-out;
}

.icon-transition {
  transition: transform 0.3s ease-in-out;
}

.icon-rotate {
  transform: rotate(90deg);
}